<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xeehoo.p2p.mybatis.mapper.BbsMapper">
    <!-- 系统公告 -->
    <resultMap type="com.xeehoo.p2p.po.LoanBbs" id="bbs">
        <id property="bbsId" column="bbs_id"/>
        <result property="bbsTitle" column="bbs_name"/>
        <result property="bbsUrl" column="bbs_url"/>
        <result property="bbsType" column="bbs_type"/>
        <result property="bbsDate" column="bbs_date"/>
        <result property="bbsStaff" column="bbs_staff"/>
    </resultMap>

    <!-- 分页查询系统公告  -->
    <select id="getBbsPager" resultMap="bbs" parameterType="java.util.Map">
        SELECT * FROM t_loan_admin_bbs
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 系统公告记录数  -->
    <select id="getTotalBbs" resultType="java.lang.Integer">
        SELECT count(*) FROM t_loan_admin_bbs
    </select>
</mapper>