<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xeehoo.p2p.mybatis.mapper.ProductMapper">
    <!-- 产品信息 -->
    <resultMap type="com.xeehoo.p2p.po.LoanProduct" id="product">
        <id property="productID" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productType" column="product_type"/>
        <result property="loanRate" column="loan_rate"/>
        <result property="investDay" column="invest_day"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="residualAmount" column="residual_amount"/>
        <result property="incomeMode" column="income_mode"/>
        <result property="minAmount" column="min_amount"/>
    </resultMap>

    <sql id="product_pager_where">
        <where>
            <if test="low_rate != null">
                AND loan_rate &gt;= #{low_rate}
            </if>
            <if test="high_rate != null">
                AND loan_rate &lt;= #{high_rate}
            </if>
            <if test="stat != null">
                AND product_status = #{stat}
            </if>
            <if test="type != null">
                AND product_type = #{type}
            </if>
        </where>
    </sql>

    <!-- 分页查询产品信息  -->
    <select id="getProductPager" resultMap="product" parameterType="java.util.Map">
        SELECT * FROM t_loan_product
        <include refid="product_pager_where"/>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 产品记录数  -->
    <select id="getTotalProduct" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT count(*) FROM t_loan_product
        <include refid="product_pager_where"/>
    </select>

    <!-- 首页推荐产品
    <select id="getProductByType" resultMap="product" parameterType="java.util.Map">
        SELECT * FROM t_loan_product
        WHERE product_type = #{productType}
        LIMIT #{pageSize} OFFSET #{offset}
    </select>-->
</mapper>