<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xeehoo.p2p.mybatis.mapper.ProductMapper">
    <!-- 产品信息 -->
    <resultMap type="com.xeehoo.p2p.po.LoanProduct" id="product">
        <id property="productID" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productType" column="product_type"/>
        <result property="loanRate" column="loan_rate"/>
        <result property="investDay" column="invest_day"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="residualAmount" column="residual_amount"/>
        <result property="incomeMode" column="income_mode"/>
        <result property="minAmount" column="min_amount"/>
    </resultMap>

    <!-- 用户投资 -->
    <resultMap type="com.xeehoo.p2p.po.LoanUserInvestment" id="investment">
        <id property="investId" column="invest_id"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="userId" column="user_id"/>
        <result property="investStartDate" column="invest_start_date"/>
        <result property="investClosingDate" column="invest_closing_date"/>
        <result property="investAmount" column="invest_amount"/>
        <result property="investIncome" column="invest_income"/>
        <result property="investServiceCharge" column="invest_service_charge"/>
        <result property="investStatus" column="invest_status"/>
        <result property="investTime" column="invest_time"/>
        <result property="paySeqno" column="pay_seqno"/>
    </resultMap>

    <sql id="product_pager_where">
        <where>
            <if test="low_rate != null">
                AND loan_rate &gt;= #{low_rate}
            </if>
            <if test="high_rate != null">
                AND loan_rate &lt;= #{high_rate}
            </if>
            <if test="stat != null">
                AND product_status = #{stat}
            </if>
            <if test="type != null">
                AND product_type = #{type}
            </if>
        </where>
    </sql>

    <!-- 根据产品ID获取产品信息 -->
    <select id="getProduct" resultMap="product" parameterType="int">
        SELECT * FROM t_loan_product WHERE product_id = #{productId}
    </select>

    <!-- 分页查询产品信息  -->
    <select id="getProductPager" resultMap="product" parameterType="java.util.Map">
        SELECT * FROM t_loan_product
        <include refid="product_pager_where"/>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 产品记录数  -->
    <select id="getTotalProduct" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT count(*) FROM t_loan_product
        <include refid="product_pager_where"/>
    </select>

    <!-- 投标 -->
    <update id="updateProductAmount">
        UPDATE t_loan_product SET residual_amount = residual_amount - #{amount}
        WHERE product_status = 0
          AND residual_amount > #{amount}
          AND product_id = #{productId}
    </update>

    <!-- 用户投资 -->
    <insert id="saveUserInvestment" parameterType="com.xeehoo.p2p.po.LoanUserInvestment">
        <selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="investId" >
            SELECT currval('t_loan_user_investment_invest_id_seq') AS investId
        </selectKey>

        INSERT INTO t_loan_user_investment (
        product_id,
        product_name,
        user_id,
        invest_start_date,
        invest_closing_date,
        invest_amount,
        invest_income,
        invest_service_charge,
        invest_status,
        invest_time,
        pay_seqno
        )
        VALUES (
        #{productId},
        #{productName},
        #{userId},
        #{investStartDate},
        #{investClosingDate},
        #{investAmount},
        #{investIncome},
        #{investServiceCharge},
        #{investStatus},
        #{investTime},
        #{paySeqno}
        )
    </insert>


    <!-- 查询产品投资人  -->
    <select id="getProductInvestments" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT ui.user_id as userId,
                u.real_name as userName,
               ui.invest_amount as amount,
               ui.invest_time as investTime
          FROM t_loan_user_investment ui INNER JOIN t_loan_userinfo u
            ON ui.user_id = u.user_id
         WHERE ui.product_id = #{productId}
           AND ui.invest_status = 'Y'
    </select>
</mapper>