<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xeehoo.p2p.mybatis.mapper.ProductMapper">
    <!-- 产品信息 -->
    <resultMap type="com.xeehoo.p2p.po.LoanProduct" id="product">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productType" column="product_type"/>
        <result property="loanRate" column="loan_rate"/>
        <result property="investDay" column="invest_day"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="residualAmount" column="residual_amount"/>
        <result property="incomeMode" column="income_mode"/>
        <result property="loanPurpose" column="loan_purpose"/>
        <result property="raiseDays" column="raise_days"/>
        <result property="interestWay" column="interest_way"/>
        <result property="minAmount" column="min_amount"/>
        <result property="minAddAmount" column="min_add_amount"/>
        <result property="maxAmount" column="max_amount"/>
        <result property="releaseTime" column="release_time"/>
        <result property="productStatus" column="product_status"/>
    </resultMap>

    <!-- 用户投资 -->
    <resultMap type="com.xeehoo.p2p.po.LoanUserInvestment" id="investment">
        <id property="investId" column="invest_id"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="userId" column="user_id"/>
        <result property="investStartDate" column="invest_start_date"/>
        <result property="investClosingDate" column="invest_closing_date"/>
        <result property="investAmount" column="invest_amount"/>
        <result property="investIncome" column="invest_income"/>
        <result property="investServiceCharge" column="invest_service_charge"/>
        <result property="investStatus" column="invest_status"/>
        <result property="investTime" column="invest_time"/>
        <result property="paySeqno" column="pay_seqno"/>
    </resultMap>

    <sql id="product_pager_where">
        <where>
            <if test="low_rate != null">
                AND loan_rate &gt;= #{low_rate}
            </if>
            <if test="high_rate != null">
                AND loan_rate &lt;= #{high_rate}
            </if>
            <if test="stat != null">
                AND product_status = #{stat}
            </if>
            <if test="type != null">
                AND product_type = #{type}
            </if>
        </where>
    </sql>

    <!-- 根据产品ID获取产品信息 -->
    <select id="getProduct" resultMap="product" parameterType="int">
        SELECT * FROM t_loan_product WHERE product_id = #{productId}
    </select>

    <!-- 分页查询产品信息  -->
    <select id="getProductPager" resultMap="product" parameterType="java.util.Map">
        SELECT * FROM t_loan_product
        <include refid="product_pager_where"/>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 产品记录数  -->
    <select id="getTotalProduct" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT count(*) FROM t_loan_product
        <include refid="product_pager_where"/>
    </select>

    <!-- 投标 -->
    <update id="updateProductAmount">
        UPDATE t_loan_product SET residual_amount = residual_amount - #{amount}
        WHERE product_status = 1
          AND check_status = 1
          AND residual_amount > #{amount}
          AND product_id = #{productId}
    </update>

    <!-- 修改用户投资状态 -->
    <update id="updateUserInvestmentStatus">
        UPDATE t_loan_user_investment
           SET invest_status = #{investStatus}
         WHERE invest_id = #{investId}
    </update>

    <!-- 修改产品状态 -->
    <update id="updateProductStatus">
        UPDATE t_loan_product
        SET product_status = #{productStatus}
        WHERE invest_id = #{productId}
    </update>

    <!-- 修改产品审核状态 -->
    <update id="updateProductCheckStatus">
        UPDATE t_loan_product
        SET check_status = 'C'
        WHERE invest_id = #{productId}
    </update>

    <!-- 产品发布 -->
    <insert id="saveProduct" parameterType="com.xeehoo.p2p.po.LoanProduct">
        <selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="productId" >
            SELECT currval('t_loan_product_product_id_seq') AS productId
        </selectKey>

        INSERT INTO t_loan_product (
            product_name,
            product_type,
            loan_rate,
            invest_day,
            total_amount,
            residual_amount,
            product_desc,
            income_mode,
            min_amount,
            min_add_amount,
            max_amount,
            loan_purpose,
            raise_days,
            interest_way,
            product_status,
            release_time,
            staff_id
        )
        VALUES (
            #{productName},
            #{productType},
            #{loanRate},
            #{investDay},
            #{totalAmount},
            #{residualAmount},
            #{productDesc},
            #{incomeMode},
            #{minAmount},
            #{minAddAmount},
            #{maxAmount},
            #{loanPurpose},
            #{raiseDays},
            #{interestWay},
            #{productStatus},
            #{releaseTime},
            #{staffId}
        )
    </insert>

    <!-- 用户投资 -->
    <insert id="saveUserInvestment" parameterType="com.xeehoo.p2p.po.LoanUserInvestment">
        <selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="investId" >
            SELECT currval('t_loan_user_investment_invest_id_seq') AS investId
        </selectKey>

        INSERT INTO t_loan_user_investment (
            product_id,
            product_name,
            user_id,
            invest_start_date,
            invest_closing_date,
            invest_amount,
            invest_income,
            invest_service_charge,
            invest_status,
            invest_time,
            pay_seqno,
            pay_contract_no,
            pay_resp_code
        )
        VALUES (
            #{productId},
            #{productName},
            #{userId},
            #{investStartDate},
            #{investClosingDate},
            #{investAmount},
            #{investIncome},
            #{investServiceCharge},
            #{investStatus},
            #{investTime},
            #{paySeqno},
            #{payContractNo},
            #{payResponseCode}
        )
    </insert>


    <!-- 查询产品所有投资记录  -->
    <select id="getProductInvestments" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            ui.invest_id as investid,
            ui.user_id as userId,
             u.login_name as userName,
             u.mobile as mobile,
            ui.invest_amount as amount,
            ui.invest_time as investTime,
            ui.pay_contract_no as contractNo,
            ui.invest_status as investStatus
          FROM t_loan_user_investment ui INNER JOIN t_loan_userinfo u
            ON ui.user_id = u.user_id
         WHERE ui.product_id = #{productId}
           AND ui.invest_status = 'I'
    </select>

    <sql id="user_invest_where">
        <where>
            <if test="_userId != null">
                AND ui.user_id = #{_userId}
            </if>
        </where>
    </sql>

    <!-- 查询用户所有投资记录  -->
    <select id="getUserInvestments" resultMap="investment" parameterType="java.util.Map">
        SELECT *
          FROM t_loan_user_investment ui
        <include refid="user_invest_where"/>
         LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 产品记录数  -->
    <select id="getTotalUserInvestment" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(*)
        FROM t_loan_user_investment ui
        <include refid="user_invest_where"/>
    </select>
</mapper>