<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xeehoo.p2p.mybatis.mapper.RepayMapper">
    <!-- 用户还款情况 -->
    <resultMap type="com.xeehoo.p2p.po.LoanUserRepay" id="userRepay">
        <id property="repayId" column="repay_id"/>
        <result property="investId" column="invest_id"/>
        <result property="userId" column="user_id"/>
        <result property="amount" column="repay_amount"/>
        <result property="interest" column="repay_interest"/>
        <result property="repayTime" column="repay_time"/>
        <result property="repaySeqno" column="repay_seqno"/>
        <result property="repayResponseCode" column="repay_resp_code"/>
    </resultMap>

    <!-- 插入用户还款情况 -->
    <insert id="saveUserRepays">
        <foreach collection="userRepays" item="repay" separator=";">
            INSERT INTO t_loan_user_repay (
              invest_id,
              product_id,
              user_id,
              repay_amount,
              repay_interest,
              repay_time,
              repay_real_time,
              repay_seqno,
              repay_resp_code)
            VALUES (
              #{repay.investId},
              #{repay.productId},
              #{repay.userId},
              #{repay.amount},
              #{repay.interest},
              #{repay.repayTime},
              #{repay.repayRealTime},
              #{repay.repaySeqno},
              #{repay.repayResponseCode}
            )
        </foreach>
    </insert>

    <!-- 根据投资记录查询还款情况  -->
    <select id="getUserRepayNow" resultMap="userRepay">
        SELECT ur.*
        FROM
          t_loan_user_repay ur INNER JOIN t_loan_user_investment ui
          ON ur.invest_id = ui.invest_id
        WHERE repay_time = current_date
          AND ui.pay_resp_code = '0000'
          AND ui.transfer_resp_code = '0000'
    </select>

    <!-- 根据产品查询还款情况  -->
    <select id="getProductRepay" resultMap="userRepay" parameterType="java.util.Map">
        SELECT *
        FROM
          t_loan_user_repay
        WHERE
          product_id = #{_productId}
        ORDER BY
          repay_time
        LIMIT #{_pageSize} OFFSET #{_offset}
    </select>

    <select id="getTotalProductRepay" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(*)
          FROM t_loan_user_repay
         WHERE product_id = #{_productId}
    </select>
</mapper>