<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xeehoo.p2p.mybatis.mapper.SliderMapper">
    <!-- Slider -->
    <resultMap type="com.xeehoo.p2p.po.LoanSlider" id="slider">
        <id property="sliderId" column="slider_id"/>
        <result property="sliderName" column="slider_name"/>
        <result property="sliderImg" column="slider_img"/>
        <result property="sliderUri" column="slider_uri"/>
        <result property="sliderStatus" column="slider_status"/>
        <result property="sliderTime" column="slider_time"/>
        <result property="staffId" column="staff_id"/>
    </resultMap>

    <!-- 查询Slider  -->
    <select id="getSliders" resultMap="slider">
        SELECT *
          FROM t_loan_admin_slider
        <where>
            <if test='sliderStatus > 0'> <!-- 状态 -->
                AND slider_status = #{sliderStatus}
            </if>
        </where>
        ORDER BY slider_id DESC
    </select>

    <!-- 修改Slider -->
    <update id="updateSlider" parameterType="com.xeehoo.p2p.po.LoanSlider">
        UPDATE
              t_loan_admin_slider
           SET
              slider_url = #{sliderUrl},
              slider_name = #{sliderName},
              slider_img = #{sliderImg}
         WHERE
              slider_id = #{sliderId}
    </update>

    <!-- 修改Slider状态 -->
    <update id="updateSliderStatus">
        UPDATE t_loan_admin_slider
           SET slider_status = #{sliderStatus}
         WHERE slider_id = #{sliderId}
    </update>
</mapper>