<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xeehoo.p2p.mybatis.mapper.UserMapper">

    <!-- 用户信息 -->
    <resultMap type="com.xeehoo.p2p.po.LoanUser" id="user">
        <id property="userId" column="user_id"/>
        <result property="loginName" column="login_name"/>
        <result property="realName" column="real_name"/>
        <result property="loginPwd" column="login_pwd"/>
        <result property="payPwd" column="pay_pwd"/>
        <result property="userStatus" column="user_status"/>
        <result property="registerIP" column="register_ip"/>
        <result property="registerTime" column="register_time"/>
        <result property="idCard" column="id_card"/>
        <result property="escrowAccount" column="escrow_account"/>
    </resultMap>

    <!-- 用户资产信息-->
    <resultMap type="com.xeehoo.p2p.po.LoanUserFund" id="userFund">
        <id property="userId" column="user_id"/>
        <result property="totalFund" column="total_fund"/>
        <result property="totalPrincipal" column="total_principal"/>
        <result property="totalEarnings" column="total_earnings"/>
        <result property="recoveryPrincipal" column="recovery_principal"/>
        <result property="freezeFund" column="freeze_fund"/>
    </resultMap>

    <insert id="saveUser" parameterType="com.xeehoo.p2p.po.LoanUser">
        <selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="userId" >
            SELECT currval('t_loan_userinfo_user_id_seq') AS userId
        </selectKey>

        INSERT INTO t_loan_userinfo (
          login_name,
          login_pwd,
          mobile,
          register_time,
          register_ip,
          user_status
        )
        VALUES (
          #{loginName},
          #{loginPwd},
          #{mobile},
          #{registerTime},
          #{registerIP},
          #{userStatus}
        )
    </insert>

    <!-- 根据用户ID获取用户信息 -->
    <select id="getUser" resultMap="user" parameterType="int">
        SELECT * FROM t_loan_userinfo WHERE user_id = #{userId}
    </select>

    <!-- 获取用户登录信息 -->
    <select id="getUserLoginInfo" resultMap="user">
        SELECT
          user_id,
          login_pwd,
          pay_pwd,
          escrow_account,
          user_status,
          register_time,
          register_ip
        FROM
          t_loan_userinfo
        WHERE
          user_status = 1
        <if test="loginType == 'name'">
            AND login_name = #{loginName}
        </if>
        <if test="loginType == 'mobile'">
            AND mobile = #{loginName}
        </if>
    </select>

    <!-- 修改预留安全信息，防止钓鱼网站 -->
    <update id="updateUserSecurityMessage">
        UPDATE
          t_loan_userinfo
        SET
          security_message = #{securityMessage}
        WHERE
          user_id = #{userId}
    </update>

    <!-- 身份认证
    <update id="updateUserIdCard" parameterType="java.util.Map">
        UPDATE t_loan_userinfo
        SET real_name = #{realName},
            id_type = '00',
            id_card = #{idCard},
            birth = #{birth, jdbcType=DATE},
            sex = #{sex}
        WHERE
          user_id = #{userId}
    </update>-->

    <!-- 修改用户状态 -->
    <update id="updateUserStatus">
        UPDATE t_loan_userinfo
        SET user_status = #{userStatus}
        WHERE
          user_id = #{userId}
    </update>

    <!-- 修改用户邮寄地址 -->
    <update id="updateUserAddress">
        UPDATE t_loan_userinfo
        SET city_code = #{city_code},
            zipcode = #{zipcode}
        WHERE
          user_id = #{userId}
    </update>

    <!-- 修改用户登录密码 -->
    <update id="updateUserLoginPwd">
        UPDATE
          t_loan_userinfo
        SET
          login_pwd = #{loginPwd}
        WHERE
          user_id = #{userId}
        AND
          login_pwd = #{oldLoginPwd}
    </update>

    <!-- 修改用户支付密码 -->
    <update id="changeUserPayPwd">
        UPDATE
          t_loan_userinfo
        SET
          pay_pwd = #{payPwd}
        WHERE
          user_id = #{userId}
        AND
          pay_pwd = #{oldPayPwd}
    </update>

    <!-- 设置用户支付密码 -->
    <update id="updateUserPayPwd">
        UPDATE
          t_loan_userinfo
        SET
          pay_pwd = #{payPwd}
        WHERE
          user_id = #{userId}
    </update>

    <!-- 修改第三方用户认证信息 -->
    <update id="updateUserAuthentication" parameterType="com.xeehoo.p2p.po.LoanUser">
        UPDATE
            t_loan_userinfo
        SET
            escrow_account = #{escrowAccount},
            real_name = #{realName},
            id_card = #{idCard}
        WHERE
            user_id = #{userId}
    </update>

    <!-- 获取用户资产信息 -->
    <select id="getUserFund" resultMap="userFund" parameterType="int">
        SELECT * FROM t_loan_user_fund WHERE user_id = #{userId}
    </select>

    <!-- 客户管理 列表用户 -->
    <sql id="query_user_where">
        <where>
            <if test="user_status > 0">
                AND user_status = #{user_status}
            </if>
            <if test='login_name != null'>
                AND login_name = #{login_name}
            </if>
            <if test='real_name != null'>
                AND real_name LIKE CONCAT('%',#{real_name},'%')
            </if>
            <if test="id_card != null">
                AND id_card = #{id_card}
            </if>
        </where>
    </sql>

    <select id="getUsers" resultMap="user" parameterType="java.util.Map">
        SELECT
            user_id,
            real_name,
            login_name,
            id_card,
            sex,
            birth,
            user_status
        FROM
            t_loan_userinfo
        <include refid="query_user_where"/>
        LIMIT #{_pageSize} OFFSET #{_offset}
    </select>

    <select id="getTotalUser" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
            COUNT (*)
        FROM
            t_loan_userinfo
        <include refid="query_user_where"/>
    </select>
</mapper>